@font-face {
    font-family: Avenir;
    src: url(../fonts/avenir-roman.ttf);
}

body {
    background-color: #fff6f6;
    font-family: Avenir;
}

/* Input inherit font from body */
input, select, textarea, button{font-family:inherit;}

/* No border for input */
.no-border {
    border: 0;
    border-radius: 0 !important;
    box-shadow: none;
    border-color: none;
    -webkit-box-shadow: none;
}

.no-border:focus {
    border: 0;
    box-shadow: none;
    border-color: none;
    -webkit-box-shadow: none;
}

/* Frame for vert centering fix */
.frame {
    height: 100vh;
    position: relative;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.search {
    position: relative;
    transform: translate(0, -98px);
    text-align: center;
}

#logo-lg {
    width: 570px;
    margin: 20px auto;
    display: inline-block;
}

#search-bar {
    width: calc(100% - 53px);
    height: 35px;
    float: left;
}

#search-bar, textarea {
    background-color: #F7DAD2;    
}

#search-cont {
    display: block;
    margin: 0 auto;
    width: 90%;
    max-width: 950px;
}

#go-btn {
    height: 35px;
    float: left;
    margin-left: 10px;
}

/* Media Queries */

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    #logo-lg {
        width: 450px;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    #logo-lg {
        width: 350px;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    #logo-lg {
        width: 250px;
    }
}